<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
    <div class="mb-3">
        <label for="username" class="form-label"> Enter username: </label>
        <input type="text" class="form-control" th:field="*{username}" id="username" required/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"> Enter password: </label>
        <input type="password" class="form-control" th:field="*{password}" id="password" required/>

        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label"> Enter email: </label>
        <input type="text" class="form-control" th:field="*{email}" id="email" required/>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <div class="mb-3">
        <label for="yearOfBirth" class="form-label"> Enter Year of birth: </label>
        <input type="text" class="form-control" th:field="*{yearOfBirth}" id="yearOfBirth" required/>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth error</div>


    <div class="mb-3">
        <label for="roleAdmin" class="form-label"> ADMIN </label>
        <input type="hidden" name="_roleAdmin" th:value="${roleAdmin}">
        <input type="checkbox" th:name="roleAdmin" id="roleAdmin"/>
        <label for="roleUser" class="form-label">USER</label>
        <input type="hidden" name="_roleUser" th:value="${roleUser}">
        <input type="checkbox" th:name="roleUser" id="roleUser" >
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role error</div>

    <input type="submit" class="btn btn-primary" value="Create!"/>

</form> <br/>
<a th:href="@{/logout}">Logout</a>


</body>
</html>